.modal-content {
  width: 80%;

  .modal-header {
    background: linear-gradient(to right, #fc4a1a, #f7b733), #fc4a1a;
    color: white;
  }

  .modal-infor {
    margin: 0 auto;
    @include flex;
  }

  .modal-footer {
    @include flex(center, space-between);

    .btn-secondary {
      margin-right: 0.5rem;
      outline: 1px solid #fc4a1a;

      background-color: transparent;
      color: #fc4a1a;

      &:hover {
        outline: none;
        background-color: #f7b733;
        color: white;
      }
    }

    .btn-primary {
      outline: 1px solid #fc4a1a;

      background-color: transparent;
      color: #fc4a1a;

      &:hover {
        outline: none;
        background-color: #f7b733;
        color: white;
      }
    }
  }
}
