html {
  font-size: 62.5%;
  line-height: 1.4;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

body {
  font-size: 1.6rem;
}

.btn {
  border: none;
  border-radius: 5px;
  background-color: orange;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  will-change: transform, opacity;
}
.btn:hover {
  cursor: pointer;
  background-color: rgb(247, 189, 32);
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:active, a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.header .nav-left {
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left top, right top, from(#fc4a1a), to(#f7b733)), #fc4a1a;
  background: linear-gradient(to right, #fc4a1a, #f7b733), #fc4a1a;
  -webkit-box-shadow: 0px 5.6px 5.3px rgba(0, 0, 0, 0.026), 0px 13.7px 17.9px rgba(0, 0, 0, 0.058), 0px 36px 80px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 5.6px 5.3px rgba(0, 0, 0, 0.026), 0px 13.7px 17.9px rgba(0, 0, 0, 0.058), 0px 36px 80px rgba(0, 0, 0, 0.12);
}
.header .nav-left .title-h1 {
  padding: 1rem 2rem;
  font-family: fantasy, sans-serif;
  letter-spacing: 4px;
}
.header .nav-left .title-h1 .title-link {
  text-decoration: none;
  color: white;
}
.header .nav-left .nav-right-link {
  margin-right: 2rem;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  border-radius: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  will-change: background-color, opacity;
}
.header .nav-left .nav-right-link:hover {
  background-color: white;
  opacity: 80%;
}

.footer {
  margin-top: 5rem;
  padding: 1rem;
  background: -webkit-gradient(linear, left top, right top, from(#fc4a1a), to(#f7b733)), #fc4a1a;
  background: linear-gradient(to right, #fc4a1a, #f7b733), #fc4a1a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 3rem;
}
.footer .btn-copyright {
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.2rem;
}
.footer > p {
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.671);
}
.footer p > a {
  font-weight: bold;
  color: #573b02;
  position: relative;
}
.footer p > a:hover {
  color: #ffffff;
}
.footer p > a::after {
  content: "";
  position: absolute;
  top: 120%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 65%;
  height: 1px;
  border-radius: 2px;
  background-color: #302001;
}

.form-input {
  text-align: center;
}
.form-input .input-email {
  max-width: 25rem;
  height: 3rem;
  margin-top: 1.5rem;
  padding: 1rem;
  border-radius: 5px;
}
.form-input .input-email:focus {
  border: none;
  outline: 2px groove coral;
}
.form-input .submit {
  padding: 0 2rem;
  margin-top: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 3rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.modal-content {
  width: 80%;
}
.modal-content .modal-header {
  background: -webkit-gradient(linear, left top, right top, from(#fc4a1a), to(#f7b733)), #fc4a1a;
  background: linear-gradient(to right, #fc4a1a, #f7b733), #fc4a1a;
  color: white;
}
.modal-content .modal-infor {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal-content .modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modal-content .modal-footer .btn-secondary {
  margin-right: 0.5rem;
  border: 1px solid #fc4a1a;
  background-clip: border-box;
  background-color: transparent;
  color: #fc4a1a;
}
.modal-content .modal-footer .btn-secondary:hover {
  border: none;
  background-color: #f7b733;
  color: white;
}
.modal-content .modal-footer .btn-primary {
  border: 1px solid #fc4a1a;
  background-color: transparent;
  color: #fc4a1a;
}
.modal-content .modal-footer .btn-primary:hover {
  border: none;
  background-color: #f7b733;
  color: white;
}

.home {
  background-image: url("/assets/imgs/nends.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home .wrapper {
  max-width: 60%;
  margin: 0rem auto;
  background-color: white;
}

.main {
  padding-top: 10rem;
}
.main .title-h2 {
  text-align: center;
}
.main .infor {
  margin: 7rem auto 5rem;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}
.main .infor .infor-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5rem;
}
.main .infor .img-wrapper {
  max-width: 5rem;
  max-height: 5rem;
}
.main .infor .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main .infor .description {
  max-width: 80rem;
  text-align: justify;
}
.main .iframe-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5rem;
}
.main .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  padding: 0 2rem;
}
.main .box-items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 25rem;
  height: 32rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
  text-align: center;
  font-size: 2rem;
}
.main .box-items-title {
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  background-color: lightgray;
}
.main .box-items-price {
  font-weight: bold;
}
.main .box-items-btn {
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .home .wrapper {
    max-width: 90%;
  }
  .main .infor {
    margin: 5rem auto 4rem;
  }
  .main .infor .infor-items {
    gap: 3rem;
  }
  .main .infor .img-wrapper {
    width: 4rem;
    height: 4rem;
  }
  .main .infor .description {
    width: 50rem;
  }
  .main .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .main .box-items {
    max-width: 18rem;
    height: 30rem;
  }
}
@media screen and (max-width: 46.1875em) {
  html {
    scroll-padding-top: 15rem;
  }
  .home .header .nav-left {
    min-height: 14.5rem;
    display: block;
    text-align: center;
  }
  .home .header .nav-left .title-h1 {
    padding-top: 2rem;
    letter-spacing: 2px;
    font-size: 2.5rem;
  }
  .home .header .nav-left .nav-right {
    font-size: 1.7rem;
    overflow: hidden;
  }
  .home .header .nav-left .nav-right .nav-right-link {
    display: block;
    margin-right: 0;
    padding: 0;
    border-radius: 0;
    border-top: 1px solid rgb(124, 25, 0);
  }
  .home .wrapper {
    max-width: 80%;
  }
  .home .title-h2 {
    padding-top: 8rem;
    text-align: center;
  }
  .main .infor {
    margin: 4rem auto 4rem;
    height: 75rem;
  }
  .main .infor .infor-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .main .infor .description {
    width: 20rem;
  }
  .main .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .box-items {
    width: 20rem;
  }
}