.footer {
  margin-top: 5rem;
  padding: 1rem;
  background: linear-gradient(to right, #fc4a1a, #f7b733), #fc4a1a;

  @include flex(flex-end, center);
  flex-direction: column;

  .copyright {
    @include flex(center, space-around);
    gap: 3rem;
  }

  .btn-copyright {
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.2rem;
  }

  > p {
    font-family: "Lato", sans-serif;
    color: rgba(0, 0, 0, 0.671);
  }

  p > a {
    font-weight: bold;
    color: #573b02;

    position: relative;

    &:hover {
      color: #ffffff;
    }

    &::after {
      content: "";
      position: absolute;
      top: 120%;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);

      width: 65%;
      height: 1px;
      border-radius: 2px;
      background-color: #302001;
    }

  }
}
